USE [master]
GO
/****** Object:  Database [ayna]    Script Date: 11/3/2025 12:18:13 AM ******/
CREATE DATABASE [ayna]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ayna', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ayna.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ayna_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ayna_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ayna].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ayna]
GO
/****** Object:  Table [dbo].[Basket]    Script Date: 11/3/2025 12:18:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basket](
	[Bas_ID] [int] IDENTITY(1,1) NOT NULL,
	[Bas_Content] [nvarchar](255) NULL,
	[Bas_Price] [decimal](10, 2) NULL,
	[Bas_Qty] [int] NULL,
	[Far_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bas_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketCrops]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketCrops](
	[BC_ID] [int] IDENTITY(1,1) NOT NULL,
	[BC_Qty] [int] NOT NULL,
	[Cro_ID] [int] NOT NULL,
	[Bas_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Cart_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cart_Qty] [int] NOT NULL,
	[Cart_Price] [decimal](10, 2) NULL,
	[Ord_ID] [int] NOT NULL,
	[Bas_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Charity]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charity](
	[Char_ID] [int] IDENTITY(1,1) NOT NULL,
	[Char_CR] [nvarchar](100) NULL,
	[Char_Name] [nvarchar](150) NOT NULL,
	[Char_Location] [nvarchar](255) NULL,
	[Char_Contact] [nvarchar](100) NULL,
	[User_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Char_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crops]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crops](
	[Cro_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cro_Name] [nvarchar](100) NOT NULL,
	[Cro_Type] [nvarchar](100) NULL,
	[Cro_Weight] [decimal](10, 2) NULL,
	[Cro_Quantity] [int] NULL,
	[Cro_Unit] [nvarchar](50) NULL,
	[Far_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
	[Expired_At] [datetime] NULL,
	[Cro_ShelfLife]  AS (CONVERT([nvarchar](20),datediff(day,[Added_At],[Expired_At]))+N' يوم'),
PRIMARY KEY CLUSTERED 
(
	[Cro_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donat_Req]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donat_Req](
	[Req_ID] [int] IDENTITY(1,1) NOT NULL,
	[Req_Status] [nvarchar](50) NULL,
	[Req_Donation] [nvarchar](255) NULL,
	[DonationRequest_PickupDuration] [nvarchar](100) NULL,
	[Don_ID] [int] NOT NULL,
	[Char_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Req_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[Don_ID] [int] IDENTITY(1,1) NOT NULL,
	[Don_Date] [datetime] NOT NULL,
	[Don_Status] [nvarchar](50) NULL,
	[Don_Description] [nvarchar](255) NULL,
	[Far_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Don_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonationCrops]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationCrops](
	[DC_ID] [int] IDENTITY(1,1) NOT NULL,
	[DC_Quantity] [int] NOT NULL,
	[Don_ID] [int] NOT NULL,
	[Cro_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donor]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donor](
	[Donor_ID] [int] IDENTITY(1,1) NOT NULL,
	[Donor_FirstName] [nvarchar](100) NOT NULL,
	[Donor_LastName] [nvarchar](100) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Donor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmer]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmer](
	[Far_ID] [int] IDENTITY(1,1) NOT NULL,
	[Far_FirstName] [nvarchar](100) NOT NULL,
	[Far_LastName] [nvarchar](100) NOT NULL,
	[Far_Location] [nvarchar](255) NULL,
	[User_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Far_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_Date] [date] NULL,
	[Invoice_Time] [time](7) NULL,
	[Invoice_AmountPaid] [decimal](10, 2) NULL,
	[Pay_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Ord_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ord_Date] [date] NOT NULL,
	[Ord_Time] [time](7) NULL,
	[Ord_Price] [decimal](10, 2) NULL,
	[Ord_Status] [nvarchar](50) NULL,
	[Donor_ID] [int] NOT NULL,
	[Char_ID] [int] NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ord_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Pay_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pay_Method] [nvarchar](50) NULL,
	[Pay_Date] [date] NULL,
	[Pay_Time] [time](7) NULL,
	[Pay_Status] [nvarchar](50) NULL,
	[Pay_Amount] [decimal](10, 2) NULL,
	[Transaction_ID] [nvarchar](100) NULL,
	[Ord_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pay_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickUp]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickUp](
	[Pick_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pick_Time] [datetime] NULL,
	[Pick_Location] [nvarchar](255) NULL,
	[Don_ID] [int] NOT NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pick_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/3/2025 12:18:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Email] [nvarchar](100) NOT NULL,
	[User_Password] [nvarchar](255) NOT NULL,
	[User_Phone] [nvarchar](20) NULL,
	[User_Type] [nvarchar](50) NULL,
	[User_Status] [nvarchar](20) NULL,
	[Added_At] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[User_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Basket] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[BasketCrops] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Charity] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Crops] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Donat_Req] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Donation] ADD  DEFAULT (getdate()) FOR [Don_Date]
GO
ALTER TABLE [dbo].[Donation] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[DonationCrops] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Donor] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Farmer] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [Invoice_Date]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [Ord_Date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [Pay_Date]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[PickUp] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Active') FOR [User_Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [Added_At]
GO
ALTER TABLE [dbo].[Basket]  WITH CHECK ADD FOREIGN KEY([Far_ID])
REFERENCES [dbo].[Farmer] ([Far_ID])
GO
ALTER TABLE [dbo].[BasketCrops]  WITH CHECK ADD FOREIGN KEY([Bas_ID])
REFERENCES [dbo].[Basket] ([Bas_ID])
GO
ALTER TABLE [dbo].[BasketCrops]  WITH CHECK ADD FOREIGN KEY([Cro_ID])
REFERENCES [dbo].[Crops] ([Cro_ID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([Bas_ID])
REFERENCES [dbo].[Basket] ([Bas_ID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([Ord_ID])
REFERENCES [dbo].[Order] ([Ord_ID])
GO
ALTER TABLE [dbo].[Charity]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Crops]  WITH CHECK ADD FOREIGN KEY([Far_ID])
REFERENCES [dbo].[Farmer] ([Far_ID])
GO
ALTER TABLE [dbo].[Donat_Req]  WITH CHECK ADD FOREIGN KEY([Char_ID])
REFERENCES [dbo].[Charity] ([Char_ID])
GO
ALTER TABLE [dbo].[Donat_Req]  WITH CHECK ADD FOREIGN KEY([Don_ID])
REFERENCES [dbo].[Donation] ([Don_ID])
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD FOREIGN KEY([Far_ID])
REFERENCES [dbo].[Farmer] ([Far_ID])
GO
ALTER TABLE [dbo].[DonationCrops]  WITH CHECK ADD FOREIGN KEY([Cro_ID])
REFERENCES [dbo].[Crops] ([Cro_ID])
GO
ALTER TABLE [dbo].[DonationCrops]  WITH CHECK ADD FOREIGN KEY([Don_ID])
REFERENCES [dbo].[Donation] ([Don_ID])
GO
ALTER TABLE [dbo].[Donor]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Farmer]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Pay_ID])
REFERENCES [dbo].[Payment] ([Pay_ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([Char_ID])
REFERENCES [dbo].[Charity] ([Char_ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([Donor_ID])
REFERENCES [dbo].[Donor] ([Donor_ID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([Ord_ID])
REFERENCES [dbo].[Order] ([Ord_ID])
GO
ALTER TABLE [dbo].[PickUp]  WITH CHECK ADD FOREIGN KEY([Don_ID])
REFERENCES [dbo].[Donation] ([Don_ID])
GO
ALTER TABLE [dbo].[Donat_Req]  WITH CHECK ADD CHECK  (([Req_Status]='Rejected' OR [Req_Status]='Accepted' OR [Req_Status]='Pending'))
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [CK_Donation_Status] CHECK  (([Don_Status]='Cancelled' OR [Don_Status]='Pending' OR [Don_Status]='Approved' OR [Don_Status]='PickedUp' OR [Don_Status]='Delivered'))
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [CK_Donation_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([Ord_Status]='Cancelled' OR [Ord_Status]='Completed' OR [Ord_Status]='Processing' OR [Ord_Status]='Pending'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Pay_Status]='Failed' OR [Pay_Status]='Completed' OR [Pay_Status]='Pending'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([User_Type]='Admin' OR [User_Type]='Charity' OR [User_Type]='Farmer' OR [User_Type]='Donor'))
GO
USE [master]
GO
